{{#em-modal-form open-if=openModal is-open=isOpen configName="bs" id="newGradeModal" on-submit="createGrades" in-async=async}}
  {{#em-modal-title}}
    {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
    <h4 class="modal-title">New Grades</h4>
  {{/em-modal-title}}

{{#em-modal-body}}
  {{#if model.async}}
      Submitting, please wait...
  {{else}}
    <div class="box-body">

      <div class="form-group">
        <label for="course">Course</label>
        {{view "select"
           content=model.courses
           value=selectedCourse
           optionValuePath="content.id"
           optionLabelPath="content.name"
           class='form-control'
           prompt='Please select a course'
        }}
      </div>

      <div class="form-group">
        <a {{bind-attr class=":label :bg-green :pull-right course::hide"}} {{action 'addGrade'}}><small>{{fa-icon 'plus'}} Add Grade</small></a>
        <label for="grades">
          Grades
        </label>
        {{#each grade in grades}}
          {{grade-form grade=grade gradeWeights=gradeWeights}}
        {{else}}
          <p class='text-muted'> No grades. </p>
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/em-modal-body}}
{{#em-modal-footer}}
  <button type="submit" class="btn btn-primary btn-flat" id="createGrade" {{bind-attr disabled=async}}>New</button>
{{/em-modal-footer}}

{{/em-modal-form}}
