{{#em-modal-form open-if=openModal is-open=isOpen configName="bs" id="editCourseModal" on-submit="editCourse" in-async=async}}
  {{#em-modal-title}}
    {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
    <h4 class="modal-title">Edit Course</h4>
  {{/em-modal-title}}

{{#em-modal-body}}
  {{#if model.async}}
      Submitting, please wait...
  {{else}}
    <div class="box-body">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label for="subject">Subject</label>
            {{input value=model.subject class='form-control' required='true' id="subject" placeholder='Enter subject name'}}
          </div>
          <div class="col-sm-4">
            <label for="number">Number</label>
            {{input value=model.number class='form-control'  required='true' id="subjectNumber" type='number' placeholder='Enter subject number'}}
          </div>
          <div class="col-sm-4">
            <label for="creditHours">Credit Hours</label>
            {{input value=model.creditHours class='form-control' required='true' id='creditHours' type='number' placeholder='Enter credit hours'}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="gradingScale">Grading Scale</label>
        {{view "select"
           content=scales
           value=model.gradingScale
           class='form-control'
           prompt='Please select a grading scale'
           required='true'
        }}
      </div>

      <div class="form-group">
        <a class="label bg-green pull-right" {{action 'addWeight'}}><small>{{fa-icon 'plus'}} Add Weight</small></a>
        <label for="weights">
          Weights
        </label>
        {{#each weight in model.weights}}
          {{weight-row weight=weight parent=this editMode=true}}
        {{else}}
          <p class='text-muted'> No weights. </p>
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/em-modal-body}}
{{#em-modal-footer}}
  <button type="submit" class="btn btn-primary btn-flat" id="editCourse" {{bind-attr disabled=async}}>Save</button>
{{/em-modal-footer}}

{{/em-modal-form}}
