

{{partial 'partials/header'}}

{{#if isDashboard}}
  <div id="tab">
    {{link-to 'Feedback' 'dashboard.feedback'}}
  </div>
  {{partial 'partials/sidebar'}}
{{/if}}

{{outlet}}

{{partial 'partials/footer'}}
