{{#if isDashboard}}
  <header class="main-header">
    {{#link-to "dashboard.index" class="logo"}}
      <b>grade</b>buildr
    {{/link-to}}
    <nav class="navbar">
      <a class="sidebar-toggle" {{action 'toggleSidebar'}} role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          {{user-menu}}
        </ul>
      </div>
    </nav>
  </header>
{{else}}
  <header class="main-header">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          {{#link-to "index" class="logo navbar-brand"}}
            <b>grade</b>buildr
          {{/link-to}}
        </div>


        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            {{#unless session.isAuthenticated}}
              <li>
                <a href="#register" id="register" {{action 'openModal'}} modal-id="registerModal"> Register </a>
              </li>
            {{/unless}}
            {{user-menu}}
          </ul>
        </div>

      </div>
    </nav>
  </header>
{{/if}}

{{#unless session.isAuthenticated}}
{{#em-modal-form open-if=openModal configName="bs" id="registerModal" on-submit="register" in-async=async}}
  {{#em-modal-title}}
    {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
    <h4 class="modal-title">Register</h4>
  {{/em-modal-title}}
  {{render 'users.new'}}
{{/em-modal-form}}
{{/unless}}
