{{#if isDashboard}}
  <header class="main-header">
    {{#link-to "dashboard.index" class="logo"}}
      <b>grade</b>buildr
    {{/link-to}}
    <nav class="navbar">
      <a class="sidebar-toggle" {{action 'toggleSidebar'}} role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          {{social-icons}}
          {{user-menu}}
        </ul>
      </div>
    </nav>
  </header>
{{else}}
  <header class="main-header">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          {{#link-to "index" class="logo navbar-brand"}}
            <b>grade</b>buildr
          {{/link-to}}
        </div>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            {{social-icons}}
            {{#unless session.isAuthenticated}}
              <li>
                {{#link-to 'register' id="register"}}
                  Register
                {{/link-to}}
              </li>
            {{/unless}}
            {{user-menu}}
          </ul>
        </div>

      </div>
    </nav>
  </header>
{{/if}}
