{{#if session.isAuthenticated}}
    <a {{action "toggleDropdown"}} class="rl-dropdown-toggle">
      {{gravatar-image email=session.currentUser.email class='user-image'}}
      <span class="hidden-xs">{{session.currentUser.name}}</span>
    </a>
    {{#if dropdownExpanded}}
    <ul class="dropdown-menu rl-dropdown">
      <li class="user-header text-center">
        {{gravatar-image email=session.currentUser.email class='img-circle'}}

        <p>
          <p>{{session.currentUser.activeSemester}}</p>
          <div class="row">
            <div class="col-xs-6">
              <small><b>Grade Points:</b> {{session.currentUser.gradePoints}}</small>
            </div>
              <div class="col-xs-6">
                <small><b>Grade Units:</b> {{session.currentUser.gradeUnits}}</small>
              </div>
          </div>
        </p>
      </li>
      <li class="user-footer">
        <div class="pull-left" {{action 'toggleDropdown' }}>
          {{#link-to 'dashboard.profile.index' class='btn btn-default btn-flat'}}
            Profile
          {{/link-to}}
        </div>
        <div class="pull-right">
          <button {{action 'invalidateSession'}} class="btn btn-default btn-flat">Log out</button>
        </div>
      </li>
    </ul>
    {{/if}}
{{else}}
  <a {{action 'toggleDropdown' }} href="#" class="rl-dropdown-toggle">
    <span>Login</span>
  </a>

  {{#if dropdownExpanded}}
    <ul class="dropdown-menu rl-dropdown" role="menu">
        <li class="user-body">
          {{loginErrorMessage}}
          <form {{action "authenticate" on="submit"}}>
          <div class="form-group">
            <label for="identification">Email address</label>
            {{input value=identification placeholder="Email address" type="text" name="email" class="form-control"}}
          </div>
          <div class="form-group">
            <label for="password">Password</label><small {{action 'toggleDropdown' }} class='pull-right'>{{link-to 'Forgot your password?' 'password.new'}}</small>
            {{input value=password placeholder="Password" type="password" name="password" class="form-control"}}
          </div>
          <div class="form-group">
            <div class="pull-left">
              <button {{action "toggleDropdown"}} class="btn btn-default btn-flat" id="cancel">Cancel</button>
            </div>
            <div class="pull-right">
              <button type="submit" class="btn btn-default btn-flat" id="login">Log in</button>
            </div>
          </div>
          </form>
        </li>
    </ul>
  {{/if}}
{{/if}}
