<div class="row">
  <div class="col-sm-6 col-xs-12">
    {{info-box color='aqua' icon='pie-chart' text='Average Semester GPA' values=students value='semesterGpa'}}
  </div>
  <div class="col-sm-6 col-xs-12">
    {{info-box color='orange' icon='bar-chart' text='Average Cumulative GPA' values=students value='cumulativeGpa'}}
  </div>
</div>
<div class="box box-default">
  <div class="box-body">
  <div class="table-responsive">
    <table class="table no-margin">
      <thead>
        <tr>
          {{table-sort-header sortableArray=this.sortedStudents property='fullName' text='Name'}}
          {{table-sort-header sortableArray=this.sortedStudents property='activeSemester' text='Active Semester'}}
          {{table-sort-header sortableArray=this.sortedStudents property='semesterCreditHours' text='Semester Credit Hours'}}
          {{table-sort-header sortableArray=this.sortedStudents property='semesterGpa' text='Semester GPA'}}
          {{table-sort-header sortableArray=this.sortedStudents property='cumulativeGpa' text='Cumulative GPA'}}
        </tr>
      </thead>
      <tbody>
        {{#each sortedStudents as |student|}}
          <tr>
            <td>{{link-to student.fullName 'dashboard.students.show' student.id}}</td>
            <td>{{student.activeSemester}}</td>
            <td>{{student.semesterCreditHours}}</td>
            <td>{{student.semesterGpa}}</td>
            <td>{{student.cumulativeGpa}}</td>
          </tr>
        {{else}}
          <tr class='lead'>
            <td colspan='5' class='text-center'>
                No students.
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{!-- <div class="box-footer clearfix">
  <span class='pull-right'>{{page-numbers content=pagedContent}}</span>
</div> --}}
</div>
