<div class="row">
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{model.courses.length}}</h3>
        <p>{{h-pluralize model.courses.length "Course" omitCount=true}}</p>
      </div>
      <div class="icon">
        <i class="ion ion-university"></i>
      </div>
      {{#link-to 'dashboard.courses' class='small-box-footer hidden-md hidden-lg'}}
        View all {{fa-icon 'arrow-circle-right'}}
      {{/link-to}}
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>{{model.grades.length}}</h3>
        <p>{{h-pluralize model.grades.length "Grade" omitCount=true}}</p>
      </div>
      <div class="icon">
        <i class="ion ion-document"></i>
      </div>
      {{#link-to 'dashboard.grades' class='small-box-footer hidden-md hidden-lg'}}
        View all {{fa-icon 'arrow-circle-right'}}
      {{/link-to}}
    </div>

  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
      <div class="inner">
        <h3>{{model.semesterGpa}}</h3>
        <p>Semester GPA</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-red">
      <div class="inner">
        <h3>{{model.cumulativeGpa}}</h3>
        <p>Cumulative GPA</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div>
</div>

<div class="nav-tabs-custom">
  <ul class="nav nav-tabs pull-right">
    <li class="active"><a href="#courses" data-toggle="tab" {{action 'clearPage'}}>Courses</a></li>
    <li><a href="#grades" data-toggle="tab" {{action 'clearPage'}}>Grades</a></li>
    <li class="pull-left header">
      <button type="button" name="button" class='btn btn-xs btn-default btn-flat' {{action 'back'}}>{{fa-icon 'reply'}}</button>
      {{gravatar-image email=model.email class='img-circle' title=model.email}}
      {{model.name}}
    </li>
    <li class='header'><span class='label label-default' title='Active Semester'>{{model.activeSemester}}</span></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="courses">
      <div class="table-responsive">
        <table class="table no-margin">
          <thead>
            <tr>
              <th>Name</th>
              <th>Credit Hours</th>
              <th>Current Grade</th>
              <th>Grading Scale</th>
              <th>Semester</th>
              <th>Weights</th>
            </tr>
          </thead>
          <tbody>
            {{#each pagedCourseContent as |course|}}
              <tr>
                <td>
                  {{course.name}}
                </td>
                <td>
                  {{course.creditHours}}
                </td>
                <td>
                  {{course.currentGrade}} %
                </td>
                <td>
                  {{course.gradingScale}}
                </td>
                <td>
                  {{course.semester}}
                </td>
                <td>
                  <div class="progress">
                    {{#each course.weights as |weight|}}
                      {{progress-bar name=weight.name percentage=weight.percentage}}
                    {{/each}}
                  </div>
                </td>
              </tr>
              {{else}}
                <tr class='lead'>
                  <td colspan='5' class='text-center'>
                    No courses.
                  </td>
                </tr>
              {{/each}}
          </tbody>
        </table>
      </div>
      <div class="box-footer clearfix">
        <span class='pull-right'>{{page-numbers content=pagedCourseContent}}</span>
      </div>
    </div>
    <div class="tab-pane" id="grades">
      <div class="table-responsive">
        <table class="table no-margin">
          <thead>
            <tr>
              <th>Name</th>
              <th>Class</th>
              <th>Semester</th>
              <th>Score</th>
              <th>Weight</th>
            </tr>
          </thead>
          <tbody>
            {{#each pagedGradeContent as |grade|}}
              {{grade-row parent=this grade=grade hideActions=true}}
            {{else}}
              <tr class='lead'>
                <td colspan='5' class='text-center'>
                  No grades.
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="box-footer clearfix">
        <span class='pull-right'>{{page-numbers content=pagedGradeContent}}</span>
      </div>
    </div>
  </div>
</div>
