<div class="form-group">
  <div class="row">
    <div class="col-xs-6">
      <label for="firstName">First Name</label>
      {{input value=model.firstName class='form-control' id="firstName" placeholder='Enter first name'}}
    </div>
    <div class="col-xs-6">
      <label for="lastName">Last Name</label>
      {{input value=model.lastName class='form-control' id="lastName" placeholder='Enter last name'}}
    </div>
  </div>
</div>
{{#if session.currentUser.isStudent}}
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label for="gradePoints">Grade Points</label>
        {{input value=model.gradePoints class='form-control' id="gradePoints" placeholder='Enter grade points'}}
      </div>
      <div class="col-xs-6">
        <label for="gradeUnits">Grade Units</label>
        {{input value=model.gradeUnits class='form-control' id="gradeUnits" placeholder='Enter grade units'}}
      </div>
    </div>
  </div>
{{else}}
  <div class="form-group">
    <label for="organization">Organization</label>
    {{input value=model.organization class='form-control' id="organization" placeholder='Enter organization name'}}
  </div>
{{/if}}
<div class="form-group">
  <label for="semester">Active Semester</label>
  {{view "select"
     content=semesterNames
     value=model.activeSemester
     class='form-control'
     id='activeSemester'
     prompt='Please select a semester'
     required='true'
  }}
</div>
<div class="form-group">
  <label for="email">Email address</label>
  {{input value=model.email type='email' class='form-control' id="email" placeholder='Enter email'}}
</div>

<div class="form-group pull-right">
  <button type="submit" class="btn btn-default btn-flat" id="cancelUser" {{action 'rollbackUser'}}>Cancel</button>
  <button type="submit" class="btn btn-primary btn-flat" id="editUser" {{action 'saveUser'}}>Save</button>
</div>
