<ul class="products-list product-list-in-box">
  {{#each requests as |request|}}
    <li class="item">
      <div class="product-img">
        {{gravatar-image email=request.student.email class='img-circle'}}
      </div>
      <div class="product-info">
        <span class="product-title">
          {{request.student.email}}
          <span class="pull-right">
            <button {{bind-attr class=":disabled :btn :btn-lg :btn-flat request.accepted:btn-success:btn-warning"}}>
              {{#if request.accepted}} Accepted {{else}} Pending {{/if}}
            </button>
            <button type="button"{{action 'deleteRequest' request}} {{bind-attr class=":btn :btn-lg :btn-flat :btn-danger"}}>Delete</button>
          </span>
        </span>
        <span class="product-description">
          {{#if request.accepted}}
            You have view only access to {{request.student.name}}'s profile.
          {{else}}
            You are currently awaiting for {{request.student.name}}'s confirmation.
          {{/if}}
        </span>
      </div>
    </li>
  {{else}}
    <div class="text-center well">
      <p class="lead">
        No sent requests.
      </p>
    </div>
  {{/each}}
</ul>

<div class="box-footer">
  <p>
    {{#link-to 'dashboard.profile.requests.new' class="btn pull-right btn-success btn-flat" id="newRequest"}}
      Send New Request
    {{/link-to}}
  </p>
</div>

{{outlet}}
