
<div class="row">

    <div class="col-xs-12 col-sm-4">
        <div class="price-table text-center">
            <div class="price-table-heading">
                <h4 class="title">BASIC PLAN</h4>
            </div>
            <div class="price-table-body">
                <p class="value">$5<small>/month</small></p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><i class="icon-ok text-success"></i> Organization use</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> 25 students</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> 24/7 support</li>
            </ul>
            <div class="price-table-footer">
              {{stripe-checkout
                class="btn btn-lg btn-success btn-flat"
                image=logo
                name=name
                description=basicPlan.name
                amount=basicPlan.to_cents
                label="Subscribe now"
                panelLabel="Subscribe for {{amount}}/mo"
                isDisabled=payButtonDisabled
                action="processStripeToken"
              }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 margin-bottom-20"></div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="price-table text-center">
            <div class="price-table-heading">
                <h4 class="title">PREMIUM PLAN</h4>
            </div>
            <div class="price-table-body">
                <p class="value">$15<small>/month</small></p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><i class="icon-ok text-success"></i> Organization use</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> 100 students</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> 24/7 support</li>
            </ul>
            <div class="price-table-footer">
              {{stripe-checkout
                class="btn btn-lg btn-success btn-flat"
                image=logo
                name=name
                description=premiumPlan.name
                amount=premiumPlan.to_cents
                label="Subscribe now"
                panelLabel="Subscribe for {{amount}}/mo"
                isDisabled=payButtonDisabled
                action="processStripeToken"
              }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 margin-bottom-20"></div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="price-table text-center">
            <div class="price-table-heading">
                <h4 class="title">ULTIMATE</h4>
            </div>
            <div class="price-table-body">
                <p class="value">$50<small>/month</small></p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><i class="icon-ok text-success"></i> Organization use</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited students</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> 24/7 support</li>
            </ul>
            <div class="price-table-footer">
              {{stripe-checkout
                class="btn btn-lg btn-success btn-flat"
                image=logo
                name=name
                description=ultimatePlan.name
                amount=ultimatePlan.to_cents
                label="Subscribe now"
                panelLabel="Subscribe for {{amount}}/mo"
                isDisabled=payButtonDisabled
                action="processStripeToken"
              }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 margin-bottom-20"></div>
    </div>

</div>
