<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="price-table text-center" id="basic">
            <div class="price-table-heading">
                <h4 class="title">BASIC PLAN</h4>
            </div>
            <div class="price-table-body">
                <p class="value">$10<small>/month</small></p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><i class="icon-ok text-success"></i> Organization use</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> <b>25</b> students</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> 24/7 support</li>
            </ul>
            <div class="price-table-footer">
              <button {{bind-attr disabled=sameAsBasic}} type="button" name="button" class="btn btn-lg btn-success btn-flat" {{action 'selectPlan' basic}}>Select</button>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 margin-bottom-20"></div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="price-table text-center" id="premium">
            <div class="price-table-heading">
                <h4 class="title">PREMIUM PLAN</h4>
            </div>
            <div class="price-table-body">
                <p class="value">$25<small>/month</small></p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><i class="icon-ok text-success"></i> Organization use</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> <b>100</b> students</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> 24/7 support</li>
            </ul>
            <div class="price-table-footer">
              <button {{bind-attr disabled=sameAsPremium}} type="button" name="button" class="btn btn-lg btn-success btn-flat" {{action 'selectPlan' premium}}>Select</button>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 margin-bottom-20"></div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="price-table text-center" id="ultimate">
            <div class="price-table-heading">
                <h4 class="title">ULTIMATE</h4>
            </div>
            <div class="price-table-body">
                <p class="value">$99<small>/month</small></p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><i class="icon-ok text-success"></i> Organization use</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> <b><i>Unlimited</i></b> students</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> 24/7 support</li>
            </ul>
            <div class="price-table-footer">
              <button {{bind-attr disabled=sameAsUltimate}} type="button" name="button" class="btn btn-lg btn-success btn-flat" {{action 'selectPlan' ultimate}}>Select</button>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 margin-bottom-20"></div>
    </div>
</div>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2 text-center">
    {{#if canceledSubscription}}
      <p class='lead text-center'>
        Your canceled subscription is active until <b>{{format-date session.currentUser.activeUntil 'LL'}}</b>.
      </p>
      {{stripe-checkout
        class="btn btn-lg btn-success btn-flat"
        image=logo
        name=name
        description=plan.name
        amount=plan.to_cents
        label="Change subscription"
        panelLabel="Subscribe for {{amount}}/mo"
        isDisabled=noPlan
        action="processStripeToken"
      }}
    {{else}}
      {{#if noSubscription}}
        {{stripe-checkout
          class="btn btn-lg btn-success btn-flat"
          image=logo
          name=name
          description=plan.name
          amount=plan.to_cents
          label="Subscribe now"
          panelLabel="Subscribe for {{amount}}/mo"
          isDisabled=noPlan
          action="processStripeToken"
        }}
      {{else}}
        <p class='lead text-center'>
          Your next payment is due on <b>{{format-date session.currentUser.activeUntil 'LL'}}</b>.
        </p>
        {{#link-to 'dashboard.profile.subscriptions.cancel' class="btn btn-lg btn-danger btn-flat" id="cancelSubscription"}}
          Cancel Subscription
        {{/link-to}}
        {{stripe-checkout
          class="btn btn-lg btn-success btn-flat"
          image=logo
          name=name
          description=plan.name
          amount=plan.to_cents
          label="Change Subscription"
          panelLabel="Subscribe for {{amount}}/mo"
          isDisabled=noPlan
          action="processStripeToken"
        }}
      {{/if}}
    {{/if}}
  </div>
</div>
{{outlet}}
