<div class="content-wrapper">
  <section class="content-header">
    <span class='pull-right'>
      {{split-button parent=this selection=selectedSemester filterContent=uniqueSemesters name='Semester'}}
      {{#link-to 'dashboard.courses.new' class="btn btn-sm btn-success btn-flat" id="newCourse"}}
        New Course
      {{/link-to}}
    </span>
    <h1>
      Courses
    </h1>
  </section>

  <section class="content">

    <div class="box box-default">

      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>Name</th>
                <th>Credit Hours</th>
                <th>Current Grade</th>
                <th>Letter Grade</th>
                <th>Grading Scale</th>
                <th>Semester</th>
                <th>Weights</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each pagedCourseContent as |course|}}
                <tr>
                  <td>
                    {{#link-to 'dashboard.courses.show' course}}
                      {{course.name}}
                    {{/link-to}}
                  </td>
                  <td>
                    {{course.creditHours}}
                  </td>
                  <td>
                    {{course.currentGrade}}<small>%</small>
                  </td>
                  <td>
                    {{course.letterGrade}}
                  </td>
                  <td>
                    {{course.gradingScale}}
                  </td>
                  <td>
                    {{course.semester}}
                  </td>
                  <td>
                    {{course.weights.length}}
                  </td>
                  <td class='label-group'>
                    {{#link-to 'dashboard.courses.edit' course class="btn btn-default btn-flat btn-xs edit-btn" title='Edit'}}
                      {{fa-icon 'edit'}}
                    {{/link-to}}
                    {{#bs-popover title='Are you sure?' icon='trash' class="btn btn-danger btn-flat btn-xs" action='deleteCourse' model=course}}
                      <p>
                        <small class='text-red'><b>This will delete all grades associated with {{course.name}}.</b></small>
                      </p>
                    {{/bs-popover}}
                  </td>
                </tr>
                {{else}}
                  <tr class='lead'>
                    <td colspan='8' class='text-center'>
                      No courses.
                    </td>
                  </tr>
                {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="box-footer clearfix">
        <span class='pull-right'>{{page-numbers content=pagedCourseContent}}</span>
      </div>
    </div>

    {{outlet}}

  </section>
</div>
