<div class="content-wrapper">
  <section class="content-header">
    {{#link-to 'dashboard.courses.new' class="btn btn-sm btn-success btn-flat pull-right" id="newCourse"}}
      New Course
    {{/link-to}}
    <h1>
      Courses
    </h1>
  </section>

  <section class="content">

    <div class="box box-info">

      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>Name</th>
                <th>Credit Hours</th>
                <th>Current Grade</th>
                <th>Grading Scale</th>
                <th>Weights</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each pagedContent as |course|}}
                <tr>
                  <td>
                    {{!-- {{#link-to 'dashboard.courses.show' course}} --}}
                      {{course.name}}
                    {{!-- {{/link-to}} --}}
                  </td>
                  <td>
                    {{course.creditHours}}
                  </td>
                  <td>
                    {{course.currentGrade}} %
                  </td>
                  <td>
                    {{course.gradingScale}}
                  </td>
                  <td>
                    <div class="progress">
                      {{#each course.weights as |weight|}}
                        {{progress-bar name=weight.name percentage=weight.percentage}}
                      {{/each}}
                    </div>
                  </td>
                  <td class='label-group'>
                    {{#link-to 'dashboard.courses.edit' course class="btn btn-default btn-flat btn-xs"}}
                      {{fa-icon 'edit'}}
                    {{/link-to}}
                    {{#bs-popover title='Are you sure?' icon='trash' class="btn btn-danger btn-flat btn-xs" action='deleteCourse' model=course}}
                      <p>
                        <small class='text-red'><b>This will delete all grades associated with {{course.name}}.</b></small>
                      </p>
                    {{/bs-popover}}
                  </td>
                </tr>
                {{else}}
                  <tr class='lead'>
                    <td colspan='5' class='text-center'>
                      No courses.
                    </td>
                  </tr>
                {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="box-footer clearfix">
        <span class='pull-right'>{{page-numbers content=pagedContent}}</span>
      </div>
    </div>

    {{outlet}}

  </section>
</div>
