<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Courses
    </h1>
  </section>

  <section class="content">

    <div class="box box-info">

      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>Name</th>
                <th>Credit Hours</th>
                <th>Current Grade</th>
                <th>Grading Scale</th>
                <th>Weights</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each model.courses as |course|}}
                <tr>
                  <td>
                    {{!-- {{#link-to 'dashboard.courses.show' course}} --}}
                      {{course.name}}
                    {{!-- {{/link-to}} --}}
                  </td>
                  <td>
                    {{course.creditHours}}
                  </td>
                  <td>
                    {{course.currentGrade}} %
                  </td>
                  <td>
                    {{course.gradingScale}}
                  </td>
                  <td>
                    <div class="progress">
                      {{#each course.weights as |weight|}}
                        {{progress-bar name=weight.name percentage=weight.percentage}}
                      {{/each}}
                    </div>
                  </td>
                  <td>
                    {{#link-to 'dashboard.courses.edit' course class="btn btn-default btn-flat btn-xs"}}
                      {{fa-icon 'edit'}}
                    {{/link-to}}
                    <button type="button" name="button" class="btn btn-danger btn-flat btn-xs" title="Delete" {{action 'deleteCourse' course}}>{{fa-icon 'trash'}}</button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="box-footer clearfix">
        {{#link-to 'dashboard.courses.new' class="btn btn-sm btn-default btn-flat pull-right" id="newCourse"}}
          New Course
        {{/link-to}}
      </div>
    </div>

    {{outlet}}

  </section>
</div>
